{{!-- Social Media Links --}}
<div class="social-links">
  {{!-- Facebook --}}
  <a class="social-links__item facebook"
     href="{{facebook_url}}" target="_blank" title="Facebook" aria-label="Facebook">
    {{>icon name="facebook"}}
    <p>Facebook</p>
  </a>
  {{!-- Twitter --}}
  <a class="social-links__item twitter"
     href="{{twitter_url}}" target="_blank" title="Twitter"  aria-label="Twitter">
    {{>icon name="twitter"}}
    <p>Twitter</p>
  </a>
  {{!-- Instagram --}}
  <a class="social-links__item instagram"
     href="https://www.instagram.com/hivehq/" target="_blank" title="Instagram" aria-label="Instagram">
    {{>icon name="instagram"}}
    <p>Instagram</p>
  </a>
  {{!-- Linkedin --}}
  <a class="social-links__item linkedin"
     href="https://www.linkedin.com/company/hivehq/" target="_blank" title="Linkedin" aria-label="Linkedin">
    {{>icon name="linkedin"}}
    <p>Linkedin</p>
  </a>
</div>
